body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
}
.container{
    justify-content: space-between;
    border: 1px solid;
    border-radius: 8px;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar-brand:hover {
    color: #555;
}

.nav-link {
    color: #555;
}

.nav-link:hover {
    color: #777;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.search-input {
    width: 500px;
}
